Data Quality Issues

In [1]:
import pandas as pd

# read CSV file
user_data = pd.read_csv("/Users/shreyaasridhar/Documents/Shreyaa Job Search/Take home test/Fetch Rewards/USER_TAKEHOME.csv")

# view the first 5 rows
user_data.head()

,ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 18:42:18.000 Z,1994-10-28 00:00:00.000 Z,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 01:46:22.000 Z,NaN,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 11:51:50.000 Z,1972-03-19 00:00:00.000 Z,PA,en,female

In [2]:
products_data = pd.read_csv("/Users/shreyaasridhar/Documents/Shreyaa Job Search/Take home test/Fetch Rewards/PRODUCTS_TAKEHOME.csv")

products_data.head()

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
0,Health & Wellness,Sexual Health,Conductivity Gels & Lotions,NaN,NaN,NaN,7.964944e+11
1,Snacks,Puffed Snacks,Cheese Curls & Puffs,NaN,NaN,NaN,2.327801e+10
2,Health & Wellness,Hair Care,Hair Care Accessories,NaN,PLACEHOLDER MANUFACTURER,ELECSOP,4.618178e+11
3,Health & Wellness,Oral Care,Toothpaste,NaN,COLGATE-PALMOLIVE,COLGATE,3.500047e+10
4,Health & Wellness,Medicines & Treatments,Essential Oils,NaN,MAPLE HOLISTICS AND HONEYDEW PRODUCTS INTERCHA...,MAPLE HOLISTICS,8.068109e+11

In [5]:
transaction_data = pd.read_csv("/Users/shreyaasridhar/Documents/Shreyaa Job Search/Take home test/Fetch Rewards/TRANSACTION_TAKEHOME.csv")

transaction_data.head()

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
0,0000d256-4041-4a3e-adc4-5623fb6e0c99,2024-08-21,2024-08-21 14:19:06.539 Z,WALMART,63b73a7f3d310dceeabd4758,1.530001e+10,1.00,
1,0001455d-7a92-4a7b-a1d2-c747af1c8fd3,2024-07-20,2024-07-20 09:50:24.206 Z,ALDI,62c08877baa38d1a1f6c211a,NaN,zero,1.49
2,00017e0a-7851-42fb-bfab-0baa96e23586,2024-08-18,2024-08-19 15:38:56.813 Z,WALMART,60842f207ac8b7729e472020,7.874223e+10,1.00,
3,000239aa-3478-453d-801e-66a82e39c8af,2024-06-18,2024-06-19 11:03:37.468 Z,FOOD LION,63fcd7cea4f8442c3386b589,7.833997e+11,zero,3.49
4,00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1,2024-07-04,2024-07-05 15:56:43.549 Z,RANDALLS,6193231ae9b3d75037b0f928,4.790050e+10,1.00,

In [6]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            100000 non-null  object
 1   CREATED_DATE  100000 non-null  object
 2   BIRTH_DATE    96325 non-null   object
 3   STATE         95188 non-null   object
 4   LANGUAGE      69492 non-null   object
 5   GENDER        94108 non-null   object
dtypes: object(6)
memory usage: 4.6+ MB

In [7]:
products_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845441 non-null  object
 1   CATEGORY_2    844128 non-null  object
 2   CATEGORY_3    784986 non-null  object
 3   CATEGORY_4    67459 non-null   object
 4   MANUFACTURER  619078 non-null  object
 5   BRAND         619080 non-null  object
 6   BARCODE       841527 non-null  float64
dtypes: float64(1), object(6)
memory usage: 45.2+ MB

In [8]:
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      50000 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.1+ MB

In [9]:
"""missing data"""
print(user_data.isna().sum())

ID                  0
CREATED_DATE        0
BIRTH_DATE       3675
STATE            4812
LANGUAGE        30508
GENDER           5892
dtype: int64

In [10]:
print(products_data.isna().sum())

CATEGORY_1         111
CATEGORY_2        1424
CATEGORY_3       60566
CATEGORY_4      778093
MANUFACTURER    226474
BRAND           226472
BARCODE           4025
dtype: int64

In [11]:
print(transaction_data.isna().sum())

RECEIPT_ID           0
PURCHASE_DATE        0
SCAN_DATE            0
STORE_NAME           0
USER_ID              0
BARCODE           5762
FINAL_QUANTITY       0
FINAL_SALE           0
dtype: int64

In [12]:
"""Checking duplicates"""
duplicates = user_data[user_data.duplicated()]
if not duplicates.empty:
    print('Duplicate rows (except for their first occurrence):')
    print(duplicates)
else:
    print('No duplicate rows found.')

No duplicate rows found.

In [13]:
duplicates = products_data[products_data.duplicated()]
if not duplicates.empty:
    print('Duplicate rows (except for their first occurrence):')
    print(duplicates)
else:
    print('No duplicate rows found.')

Duplicate rows (except for their first occurrence):
               CATEGORY_1    CATEGORY_2        CATEGORY_3 CATEGORY_4  \
76394              Snacks         Candy               Gum        NaN
87568              Snacks         Chips            Crisps        NaN
91710   Health & Wellness     Skin Care               NaN        NaN
100470             Snacks         Candy  Confection Candy        NaN
109639         Restaurant     Beverages              Soda  Diet Soda
...                   ...           ...               ...        ...
827242             Snacks         Candy   Chocolate Candy        NaN
833620             Snacks         Candy   Chocolate Candy        NaN
834874             Snacks  Nuts & Seeds           Peanuts        NaN
838643             Snacks         Candy   Chocolate Candy        NaN
843215             Snacks         Candy   Chocolate Candy        NaN

               MANUFACTURER         BRAND     BARCODE
76394   THE HERSHEY COMPANY  ICE BREAKERS   3498507.0
87568          TRADER JOE'S  TRADER JOE'S    952811.0
91710      BEIERSDORF, INC.    COPPERTONE         NaN
100470         LIDL US, LLC          LIDL  20744731.0
109639              PEPSICO         PEPSI         NaN
...                     ...           ...         ...
827242  THE HERSHEY COMPANY     HERSHEY'S   3423905.0
833620  THE HERSHEY COMPANY     HERSHEY'S         NaN
834874                  NaN           NaN   3415207.0
838643  THE HERSHEY COMPANY       REESE'S   3473108.0
843215  THE HERSHEY COMPANY     HERSHEY'S   3424001.0

[215 rows x 7 columns]

In [14]:
duplicates = transaction_data[transaction_data.duplicated()]
if not duplicates.empty:
    print('Duplicate rows (except for their first occurrence):')
    print(duplicates)
else:
    print('No duplicate rows found.')

Duplicate rows (except for their first occurrence):
                                 RECEIPT_ID PURCHASE_DATE  \
2724   1c12bd8a-c68c-41ee-a26d-294021d3e0b8    2024-09-07
4192   2acd7e8d-37df-4e51-8ee5-9a9c8c1d9711    2024-09-08
6572   431fe612-ed55-470e-939c-043ad31f33f3    2024-09-07
6623   43955b35-6fbc-4909-a4de-1a0de0dc387f    2024-09-06
7675   4ec870d2-c39f-4a40-bf8a-26a079409b20    2024-09-08
...                                     ...           ...
49651  93f45c94-af38-42d4-a3fe-eb9d5b24efbb    2024-09-03
49660  eee21773-6946-474a-9978-fe0659140973    2024-07-26
49759  01a70fe0-026f-4bea-9da4-7d13bbf21e9a    2024-09-02
49911  874a8116-3342-4b4a-9d24-4666e0ab1052    2024-08-31
49941  e0a60958-e8ef-4fa0-8b1a-5ad01dd64403    2024-07-27

                       SCAN_DATE            STORE_NAME  \
2724   2024-09-07 15:44:35.241 Z                   CVS
4192   2024-09-08 11:13:01.935 Z               WALMART
6572   2024-09-07 16:39:01.409 Z  DOLLAR GENERAL STORE
6623   2024-09-08 18:32:30.031 Z               WALMART
7675   2024-09-08 19:39:01.589 Z               WALMART
...                          ...                   ...
49651  2024-09-08 12:20:50.611 Z                PUBLIX
49660  2024-07-29 20:40:25.073 Z                PUBLIX
49759  2024-09-07 16:02:39.835 Z               WALMART
49911  2024-08-31 22:41:03.829 Z                   CVS
49941  2024-07-30 09:19:00.955 Z                  ALDI

                        USER_ID       BARCODE FINAL_QUANTITY FINAL_SALE
2724   65af09757050d0a6206ab136           NaN           1.00
4192   663140f9b7b24d45d938f3be  2.400005e+10           1.00
6572   5e038cebcb322c11de193bb7  1.200050e+10           1.00
6623   625364ddda4fb11c8a9fcb85  3.716877e+11           zero      12.97
7675   638e9ae602a4e512e0585b59  7.239202e+10           zero       1.48
...                         ...           ...            ...        ...
49651  660a0ce6828f877fdee915a1           NaN           1.00       4.40
49660  60cff0e7e265b446d62200b2  4.178027e+10           1.00       4.79
49759  614e733372ba844aa8dc345e  4.178900e+10           1.00       0.52
49911  63a4ef6bb5f32149b9d86e66           NaN           1.00       3.00
49941  5d6072320d1bff58a8686adc           NaN           1.00       0.99

[171 rows x 8 columns]

Data quality issues : 
There are huge amounts of redundant data in products and transactions table . There were many missing values for important fields like Brand , barcode , etc. which means missing oppourtunities to highlight the product sales, etc.